<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prettylifeiamcoming.timemanager">
    <application
        android:name=".Sundial"
        android:allowBackup="true"
        android:icon="@drawable/like"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activity.TaskTableActivity"
            android:launchMode="singleTask"
            android:label="@string/task_table_toolbar_title">
        </activity>
        <activity
            android:name=".activity.ScheduleTableActivity"
            android:launchMode="singleTask"
            android:label="@string/schedule_table_toolbar_title">
        </activity>
        <activity
            android:name=".activity.AddTaskActivity"
            android:launchMode="singleTask"
            android:label="@string/add_task_toolbar_title">
        </activity>
        <activity
            android:name=".activity.AddScheduleActivity"
            android:launchMode="singleTask"
            android:label="@string/add_schedule_toolbar_title">
        </activity>
        <activity
            android:name=".activity.DailyIntrospectionActivity"
            android:launchMode="singleTask"
            android:label="@string/daily_introspection_toolbar_title">
        </activity>
        <activity
            android:name=".activity.CompletedTaskTableActivity"
            android:launchMode="singleTask"
            android:label="@string/completed_task_table_toolbar_title">
        </activity>
        <activity
            android:name=".activity.CompletedScheduleTableActivity"
            android:launchMode="singleTask"
            android:label="@string/completed_schedule_table_toolbar_title">
        </activity>
        <activity
            android:name=".activity.OverdueTaskActivity"
            android:launchMode="singleTask"
            android:label="@string/overdue_task_table_toolbar_title">
        </activity>
    </application>
</manifest>